@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kohinoor";
  src: url("/src/Assets/fonts/Kohinoor-Bangla/KohinoorBangla-Light.otf")
      format("opentype"),
    url("/src/Assets/fonts/Kohinoor-Bangla/KohinoorBangla-Regular.otf")
      format("opentype"),
    url("/src/Assets/fonts/Kohinoor-Bangla/KohinoorBangla-Medium.otf")
      format("opentype"),
    url("/src/Assets/fonts/Kohinoor-Bangla/KohinoorBangla-Semibold.otf")
      format("opentype"),
    url("/src/Assets/fonts/Kohinoor-Bangla/KohinoorBangla-Bold.otf")
      format("opentype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", "sans-serif";
}
